body{
    background-color: #ECFEFF;
}
hr{
    border-width: 5px;
    border-top-style: dotted;
    border-color:gray;
    width: 100px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
h1,h3{
    color: #207DFF;
}
img{
  padding: 3 px;
  width: 250px;
  height: 250px;
  border-radius: 50%;


}
button{ 
   color: black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}
